:root {
    --btn-big-width: 100px;
    --btn-big-height: 40px;
    --btn-icon-width: 40px;
    --sidebar-width: 150px;
}

.navbar {
    border-bottom: 1px solid grey;
}

.navbar-brand img {
    width: 50px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/*
    purple variations:
    #3d155c
    #581e83
    #1e0d31
    #1e0d31

    #white variations:
    #f3f3f3
    #f2eef5
    #e6e6e6
    #f0f0f0

    #black variations:
    #444344
    #2c2c2c
    #221f25
    #211b25
 */

.sidebar {
    width: var(--sidebar-width);
    min-height:calc(100vh - 56px);
    position:fixed;
    border-right:1px solid #dee2e6;
}

@media (min-width: 768px) {
    .web-content {
        margin-left: var(--sidebar-width);
    }
}

.btn-style-big {
    width: var(--btn-big-width);
    height: var(--btn-big-height);
}
.btn-style-icon {
    width: var(--btn-icon-width);
    height: var(--btn-icon-width);
}


.btn-style {
    border-radius: 20px;
    background-color: transparent;
    color: #444344;
    border-width: 1px;
    border-style: solid;
    border: #581e83;
}

.btn-style:hover {
    background-color: #3d155c;
    color: #e6e6e6;
    border-style: solid;
    border: #2c2c2c;
}

.btn-style:active {
    background-color: #1e0d31;
    color: #f3f3f3;
    border-style: solid;
    border: #221f25;
}
